body {
    background: radial-gradient(ellipse at center,
    #0a2e38 0%,
    #000 35%);
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),
        0 0 20px rgba(10, 175, 230, 0);
}

.date{
    letter-spacing: 0.1em;
    font-size: 24px;
}

.time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.text{
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}